body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
}

main {
  display: flex;
  height: 80vh;
}

#user-container {
  border-radius: 8px;
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 1em;
  color: #333;
  transition: background 0.3s;
  cursor: pointer;
}

.user:hover {
  background-color: #e0e0e0;
}

#chatbox {
  flex: 1;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: calc(90vh - 40px);
  overflow: hidden;
}

#msg-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e9e9e9;
}

#msg-container .msg {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #e7dfd1;
  color: #513c0f;
  max-width: 70%;
}

#msg-container .msg.self {
  background-color: #cfe2ff;
  color: #084298;
  align-self: flex-end;
}

#send-container {
  display: flex;
  border-top: 1px solid #ccc;
}

#msg-input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 1em;
}

#send-btn {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #555;
}
